
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
assets/
.classpath
.project
.cproject

# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode3
*.mode*v*
*.pbxuser
build/
.DS_Store

# Ignore files by xcode4
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.*

*.so
Resources/contacts.json
runtime/ios/everlostlua iOS.app.dSYM/
runtime/ios/everlostlua.app/
frameworks/cocos2d-x/tools/tolua/userconf.ini
frameworks/runtime-src/proj.ios_mac/everlostlua.xcodeproj/project.xcworkspace/
frameworks/runtime-src/proj.ios_mac/everlostlua.xcodeproj/xcuserdata/
frameworks/runtime-src/proj.ios_mac/everlost.xcodeproj/xcuserdata/
*.xcuserdatad/
